
body {
  background-color: rgb(39, 210, 223);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(44, 117, 151);
  background-color: pink;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(218, 121, 197);
  z-index: 2;
}

#snake-head {
  background-color: purple;
}

.apple {
  background-color: red;
  z-index: 1;
}